mixin content()
    +b('section').content
        +e.wrap__list
            +e.item
                +e.list__card(id='1')
                    +e.list__card-img
                        img(src='/images/slider-1.png' alt="" class='card-img')
                +e('p').list__card-title РАСЧЕСКА ДЛЯ СУШКИ ВОЛОС
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='2')
                    +e.list__card-img
                        img(src='/images/slider-2.png' alt="" class='card-img')
                +e('p').list__card-title увляжняющий шампунь
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='3')
                    +e.list__card-img
                        img(src='/images/slider-3.png' alt="" class='card-img')
                +e('p').list__card-title БРАШИНГ ДЛЯ ВОЛОС
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='4')
                    +e.list__card-img
                        img(src='/images/slider-4.png' alt="" class='card-img')
                +e('p').list__card-title увлажняющая маска
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='5')
                    +e.list__card-img
                        img(src='/images/slider-5.png' alt="" class='card-img')
                +e('p').list__card-title НАБОР РЕЗИНОК
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='6')
                    +e.list__card-img
                        img(src='/images/slider-6.png' alt="" class='card-img')
                +e('p').list__card-title увлажняющий бальзам
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='7')
                    +e.list__card-img
                        img(src='/images/slider-7.png' alt="" class='card-img')
                +e('p').list__card-title КОСМЕТИЧКА
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='8')
                    +e.list__card-img
                        img(src='/images/slider-8.png' alt="" class='card-img')
                +e('p').list__card-title ЩЕТКА ДЛЯ ВОЛОС
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='9')
                    +e.list__card-img
                        img(src='/images/slider-9.png' alt="" class='card-img')
                +e('p').list__card-title сыворотка увлажняющая
                +e('a')(href='#').list__card-link Купить
            +e.item
                +e.list__card(id='10')
                    +e.list__card-img
                        img(src='/images/slider-10.png' alt="" class='card-img')
                +e('p').list__card-title ГРЕБЕНЬ ДЛЯ ВОЛОС
                +e('a')(href='#').list__card-link Купить
        +e.wrap__button
            +e.wrap__button-prev
            +e.wrap__button-next